<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9cd4d8">  <td>21/06/18 23:39:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="apitestingwrapper.CheckResponseCode()[pri:1, instance:ca.gc.ircc.ta.wrappers.apitestingwrapper@38cee291]">CheckResponseCode</td> 
  <td>main@272678513</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>21/06/18 23:39:27</td>   <td>94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="apitestingwrapper.validateAtSource()[pri:3, instance:ca.gc.ircc.ta.wrappers.apitestingwrapper@38cee291]">validateAtSource</td> 
  <td>main@272678513</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>21/06/18 23:39:27</td>   <td>96</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;apitestingwrapper.Afterclassfunctionhere()[pri:0, instance:ca.gc.ircc.ta.wrappers.apitestingwrapper@38cee291]">&lt;&lt;Afterclassfunctionhere</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@272678513</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>21/06/18 23:39:25</td>   <td>-1563</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;apitestingwrapper.BootStrap(java.lang.String,java.lang.String)[pri:0, instance:ca.gc.ircc.ta.wrappers.apitestingwrapper@38cee291]">&gt;&gt;BootStrap</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@272678513</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>21/06/18 23:39:27</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="apitestingwrapper.CheckResponseContent()[pri:2, instance:ca.gc.ircc.ta.wrappers.apitestingwrapper@38cee291]">CheckResponseContent</td> 
  <td>main@272678513</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>21/06/18 23:39:27</td>   <td>116</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;apitestingwrapper.BootStrap(java.lang.String,java.lang.String)[pri:0, instance:ca.gc.ircc.ta.wrappers.apitestingwrapper@2af004b]">&gt;&gt;BootStrap</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@272678513</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>21/06/18 23:39:27</td>   <td>355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="apitestingwrapper.validateAtSource()[pri:3, instance:ca.gc.ircc.ta.wrappers.apitestingwrapper@2af004b]">validateAtSource</td> 
  <td>main@272678513</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>21/06/18 23:39:27</td>   <td>356</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;apitestingwrapper.Afterclassfunctionhere()[pri:0, instance:ca.gc.ircc.ta.wrappers.apitestingwrapper@2af004b]">&lt;&lt;Afterclassfunctionhere</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@272678513</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>21/06/18 23:39:27</td>   <td>349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="apitestingwrapper.CheckResponseContent()[pri:2, instance:ca.gc.ircc.ta.wrappers.apitestingwrapper@2af004b]">CheckResponseContent</td> 
  <td>main@272678513</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>21/06/18 23:39:27</td>   <td>341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="apitestingwrapper.CheckResponseCode()[pri:1, instance:ca.gc.ircc.ta.wrappers.apitestingwrapper@2af004b]">CheckResponseCode</td> 
  <td>main@272678513</td>   <td></td> </tr>
</table>
